version: '3.8'
name: task-flow
services:
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    networks:
      - task-flow-network
    command: redis-server --appendonly yes

  rabbitmq:
    image: rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - task-flow-network

networks:
  task-flow-network:
    driver: bridge
